{% extends 'base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
{% block title %}Pending Requests{% endblock %}
{% block body_block %}
<div class="row">
    <div class="col-lg-3">

    </div>
    <div class="col-lg-6">
        {% if incoming %}
        <h3>Incoming Requests</h3>
            <div class="container">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Source</th>
                                <th>Destination</th>
                                <th>Time</th>
                                <th>Car Number</th>
                            </tr>
                        </thead>
                        <tbody>

                        {% for trips in available_trips %}

                        <tr>
                            <td>
                                {{ trips.source }}
                            </td>
                            <td>
                                {{ trips.destination }}
                            </td>
                            <td>
                                {{ trips.trip_time }}
                            </td>
                            <td>
                                {{ trips.car_of_trip }}
                            </td>
                        </tr>
                        {%  endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        {% endif %}
    </div>
    <div class="col-lg-3">

    </div>
</div>

    <div class="container">
        <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Source</th>
                    <th>Destination</th>
                    <th>Time</th>
                    <th>Car Number</th>

                </tr>
            </thead>
        <tbody>

        {% for trips in available_trips %}

                <tr>
                    <td>
                        {{ trips.source }}
                    </td>
                    <td>
                        {{ trips.destination }}
                    </td>
                    <td>
                        {{ trips.trip_time }}
                    </td>
                    <td>
                        {{ trips.car_of_trip }}
                    </td>
                </tr>
        {%  endfor %}
</tbody>
</table>
</div>
</div>

<div>
    <hr>
    <hr>
</div>

<div class="container">
        <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Source</th>
                    <th>Destination</th>
                    <th>Time</th>
                    <th>Car Number</th>

                </tr>
            </thead>
        <tbody>

        {% for trips in available_trips %}

                <tr>
                    <td>
                        {{ trips.source }}
                    </td>
                    <td>
                        {{ trips.destination }}
                    </td>
                    <td>
                        {{ trips.trip_time }}
                    </td>
                    <td>
                        {{ trips.car_of_trip }}
                    </td>
                </tr>
        {%  endfor %}
</tbody>
</table>
</div>
</div>



{% endblock %}

