{% extends 'base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
{% block title %}Share your trip{% endblock %}
{% block body_block %}





<div class="panel-body">

    <div class="row">
        <div class="col-md-4">


        </div>
        <div class="col-md-4">
            <form id="requestatrip-form" action="{% url 'requestatrip' %}" method="post" role="form"
                    style="display: block;"> {% csrf_token %}
            {% csrf_token %}


            <input type="hidden" name="next" value="{{ request.GET.next }}"/>

            <div class="form-group">
                <input type="text" name="source" id="source" tabindex="1" class="form-control" placeholder="Source" value="">
            </div>

            <div class="form-group">
                <input type="text" name="destination" id="destination" tabindex="2"
                            class="form-control" placeholder="Destination">
            </div>
            <div class="form-group" id="date-div">
                <input type="text" name="trip_time" id='trip_time'
                        value="" class="form-control" placeholder="Trip time (10-Mar-2016 9:00AM) ">
                    <script type="text/javascript">
                        $(function(){
                        $('#trip_time').dtpicker();
                        });
                    </script>
            </div>


            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <input type="submit" name="sharecar-submit" id="sharecaR-submit"
                                tabindex="4" class="form-control btn btn-register"
                                value="Search A Trip">
                    </div>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>


<div>
    <hr>
    <hr>
</div>
{% if available_trips %}
<div class="container">
        <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Source</th>
                    <th>Destination</th>
                    <th>Time</th>
                    <th>Car Number</th>

                </tr>
            </thead>
        <tbody>

        {% for trips in available_trips %}

                <tr>
                    <td>
                        {{ trips.source }}
                    </td>
                    <td>
                        {{ trips.destination }}
                    </td>
                    <td>
                        {{ trips.trip_time }}
                    </td>
                    <td>
                        {{ trips.car_of_trip }}
                    </td>
                </tr>
        {%  endfor %}
</tbody>
</table>
</div>
</div>
{% endif %}



{% endblock %}

